body {
margin: 0;
}

#title {
  background-image: url("images/beans4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome-page {
  text-align: center;
  padding: 25% 10%;
}

.welcome-page-text {
  color: #ffffff;
}
